
.Action__list {
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  padding-left: 0px;
  
}

.ActionPage__action_false {
  background-color: crimson;
  margin-bottom: 1em;
  text-align: left;
  padding: 8px;
}

.ActionPage__action_true {
  background-color: cornflowerblue;
  margin-bottom: 1em;
  text-align: left;
  padding: 8px;
}

.Created {
color: white;
}

.Created__date {
  color: #FFB72F;
}

.Action__description {
  color: white;
  display: block;
}

.Action__delete_div {
  background-color: red;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  padding: 0px 0px 0px 0px;
  width: fit-content;
  height: fit-content;
}

.Action__delete {
  padding:0px 0px 0px 0px;
  text-align: center;
  font-weight: 700;
  width: 0px;
  height: 0px;
}

.Action__delete:hover {
color: #FFB72F;
}

.c {
  width:100%;
  height:100%;
  position:relative;
  Top:360px;
  left:0px;
  background-color: #FFB72F;
  display: inline-block;
}