
.Action__list {
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  padding-left: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.ActionPage__action_false {
  background-color: crimson;
  margin-bottom: 1em;
  text-align: left;
  padding: 8px;
}

.ActionPage__action_true {
  background-color: cornflowerblue;
  margin-bottom: 1em;
  text-align: left;
  padding: 8px;
}

.Created {
color: white;
}

.Created__date {
  color: #FFB72F;
}

.Action__description {
  color: white;
  display: block;
}

button:focus {
  border: none;
  outline: none;
}

.Action__delete {
  padding: 0px;
  transform: rotate(90deg);
  margin-bottom: 12px;
}

.Action__delete_div {
  margin-left: 90%;
}

.c_true, .c_false {
  font-weight: 700;
}

.c_false {
  background-color: crimson;
}

.c_true:hover, .c_false:hover {
color: #FFB72F;
}
