
.Action__list {
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  padding-left: 0px;
  margin-left: 5px;
}

.ActionPage__action_false {
  background-color: crimson;
  margin-bottom: 1em;
  text-align: left;
  padding: 8px;
}

.ActionPage__action_true {
  background-color: cornflowerblue;
  margin-bottom: 1em;
  text-align: left;
  padding: 8px;
}

.Created {
color: white;
}

.Created__date {
  color: #FFB72F;
}

.Action__description {
  color: white;
  display: block;
}

.Action__delete_div {
  margin-left: 280px;
}

.c {
  font-weight: 700;
}

.c:hover {
color: #FFB72F;
}

@media only screen and (max-width: 524px) {
.c {
  Top: 200px;
}
}

@supports (overflow:-webkit-marquee) and (justify-content:inherit) 
{

  .safari_only {
    color:#0000FF; 
    background-color:#CCCCCC; 
  }

}