.NavBar {
  background-color: cornflowerblue;
  text-align: center;
  min-height: 2em;
  width: 100%;
  font-weight: 900;
  text-decoration: none;
  font-size: 40px;
  padding-top: 15px;

}

.Merits_link {
  text-align: left;
  vertical-align: middle;
  margin-right: 1em;
  text-decoration: none;
  color: aliceblue;

}

.Merits_link:hover {
  color: #FFB72F;
}

.Household_name {
  text-align: center;
  vertical-align: bottom;
  margin-right: 1em;
  color: #FFB72F;
  text-decoration: none;
  display: inline-block
}

.Households_link {
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 40px;
  display: inline-block;
}

.Households_link:hover {
  color: #FFB72F;
}
