
.NavBar {
list-style-type: none;
margin: 0;
padding: 5px;
overflow: hidden;
background-color: cornflowerblue;
min-height: 45px;
width: 100%;
font-weight: 900;
}

.MeritsLink, .HouseholdLink, .HouseholdsLink {
  text-decoration: none;
  font-size: 40px;
}

.favicon {
  float: left;
  margin-top: 10px;
}

.Merits {
  display: none;
}

.Household_name {
  display: inline;
}

.HouseholdLink {
  color: #FFB72F;
}

.Households {
  display: none;
}

.Households_link {
  display: inline;
}

.houseIcon {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

@media screen and (min-width:560px) {

  
  .favicon {
    display: none;
  }

  .Merits {
    float: left;
    display: inline;
  }

  .MeritsLink {
    color: aliceblue;
  }
  
  .MeritsLink:hover {
    color: #FFB72F;
  }

  .houseIcon {
    display: none;
  }

  .Households {
  float: right;
  display: inline;
  margin-right: 10px;
  }

  .HouseholdsLink {
  float: right;
  color: aliceblue;
  display: inline;
}

.HouseholdsLink:hover {
  color: #FFB72F;
}
  
  }