
.Kid {
  --note-height: 300px;
  height: var(--note-height);
  margin-bottom: 8px;
  max-width: 380px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.Kid__delete {
  margin-right: 1em;
  color: cornflowerblue;
  border-top: none;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
}

.Kid__delete:hover {
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.Kid__info {
  border: 4px cornflowerblue solid;
  border-radius: 30px;
  max-width: 320px;
  margin-left: 20px;
}

.Kid__name {
  font-size: 2em;
  font-weight: 800;
  color: #FFB72F;
  display: block;
}

.Kid__dob, .Kid__merits {
  color: cornflowerblue;
  font-size: 20px;
  font-weight: 700;
}

.Action__add {
  color: white;
  margin-top: 1em;
  background-color: cornflowerblue;
  font-size: 20px;
  font-weight: 700;
}

.Action__add:hover {
  color: #FFB72F;
}
