
.HouseholdList__list {
  list-style-type: none;
  /* margin: 130px 0 0; */
  padding: 0;
}

.HouseholdList__link {
  background-color: cornflowerblue;
  color: aliceblue;
  display: block;
  align-self: center;
  font-family: var(--custom-font);
  font-size: 20px;
  font-weight: 700;
  margin: auto;
  margin-bottom: 8px;
  max-width: 180px;
  padding: 8px 16px;
  text-decoration: none;
}
.HouseholdList__link:hover {
  color: #FFB72F;
  cursor: pointer;
}

